@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered-row {
    @apply flex flex-row items-center justify-center;
  }

  .centered-col {
    @apply flex flex-col items-center justify-center;
  }

  .start-center-row {
    @apply flex flex-row items-center justify-start;
  }

  .start-row {
    @apply flex flex-row items-start justify-start;
  }

  .between-row {
    @apply flex flex-row items-center justify-between;
  }

  .between-col {
    @apply flex flex-col justify-between;
  }

  .start-col {
    @apply flex flex-col;
  }

  .end-col {
    @apply flex flex-col items-end;
  }

  .centered {
    @apply flex flex-col items-center justify-center w-full h-full;
  }

  .spinner {
    @apply animate-spin rounded-full h-5 w-5 border border-t-2 border-r-2;
  }
}

@layer utilities {
  .unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background: var(--background);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
      background: #1a1a1b;
    }
  } */

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757372;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #757372;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .video-container {
    position: relative;
    overflow: hidden;
  }

  .video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to right, transparent, black, transparent);
  }
}

:root {
  /* background */
  --p-background: #ebebeb;
  --s-background: #ffffff;

  /* text */
  --p-text: #000000;
  --s-text: #807b7b;
}

[data-theme='dark'] {
  /* background */
  --p-background: #000000;
  --s-background: #666161;

  /* text */
  --p-text: #ffffff;
  --s-text: #7b7a7b;
}
